@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/base";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Merriweather);


/* Navbar styling */

.navbar-default .navbar-nav>li>a {
    color: $blue;
    &:hover {
      color: $darkblue;
    }
}

#logoimg {
  width: auto;
  height: 50px;
}

/* Logo slide in effect */

.slide {
    position: absolute;
    left: -200px;
    width: 100px;
    height: 100px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 100px; }
}

@keyframes slide {
    100% { left: 100px; }
}

/* Collapsing Navbar Styles */

@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding: 20px 0;
    /* Add additional styles here for the UNCOLLAPSED state */
    background: $beige;
    border: none;
  }
  .navbar-default.affix {
    padding: 5px;
    /* Add additional styles here for the COLLAPSED state */
    background-color: $offwhite;
    box-shadow: 0 2px 4px #222222;
    color: $darkblue;
  }
}

/* Welcome/Hero */

.Hero {
  background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("../images/code.jpeg");
  height: 700px;
  width: auto;
  h1{
      font-size: 64px;
  }
  h2{
    font-size: 48px;
    margin-bottom: -10px;
  }
  h3{
      font-style: italic;
  }
}

//Contents of Hero

.cell-middle {
  display: table;
  vertical-align: middle;
  color: $offwhite;
  margin-left: auto;
  margin-right: auto;
  padding-top: 230px;
  padding-bottom: 180px;
}


/* About section */

.About {
  background-color: $offwhite;
  height: 500px;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  h1 {
    color: $darkblue;
    display: block;
    margin-bottom: 15px;
  }
}

#travispic {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 5px;
}

.left-component {
  float: left;
  width: 40%;
  height: 300px;
  text-align: center;
}

.right-component {
  position: relative;
  left: 20px;
  color: $darkblue;
  width: auto;
  margin-top: 90px;
  text-align: left;
  ul li {
    float: right;
    list-style: none;
    margin-top: 20px;
    padding-right: 20px;
  }
}

/*Portfolio Section */

.Portfolio {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/oldcourthouse.jpeg");
  height: 500px;
  padding-top: 20px;
  h1 {
    font-size: 64px;
    color: $offwhite;
    margin-top: 0px;
    text-align: left;
    margin-left: 8%;
  }
}

.highlightimg {
 max-width: 100%;
 height: auto;
 border-radius: 5px;
}

//Portfolio animation

.card-container {
  height: 336.25px;
  perspective: 600;
  position: inline-block;
  width: 336.25px;
  margin-left: 4%;
  margin-right: 4%;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
  margin: 20px 0;

  .side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .back {
    transform: rotateY(180deg);
    background-color: $offwhite;
    color: $darkblue;
    border-radius: 5px;
    padding: 20px;
  }

  &:hover{
    transform: rotateY(180deg);
  }
}

/*Contact Section*/
.Contact {
  background-color: $offwhite;
  height: 500px;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  color: $darkblue;
  text-align: left;
  ul{
    margin-top: 30px;
    float: left;
  }
  li {
    list-style: none;
    #emailicon {
      width: 46px;
      height: 46px;
    }
  }
}
.contactcontent {
  padding-left: 7%;
  padding-right: 7%;
}

/*Contact Form*/

form {
   max-width: 600px;
   text-align: center;
   margin-top: 20px;
   margin-right: 40px;
   float: left;
  
  input, textarea {
     border:0; outline:0;
     padding: 1em;
     @include border-radius(8px);
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     @include box-shadow(0 1px 1px rgba(black, 0.1));
     resize: none;
    
    &:focus {
       @include box-shadow(0 0px 2px rgba($blue, 1)!important);
    }
  }
  
  #input-submit {
     color: white; 
     background: $blue;
     cursor: pointer;
    
    &:hover {
       @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
    }
  }
  
  textarea {
      height: 126px;
  }
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}

@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*Footer*/
footer {
  background-color: $sandstone;
  height: 75px;
  width: auto;
  padding: 25px;
  color: $darkblue;
}

//Parralax styling to keep bg imgs in place
.parralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}